@model PrecisionCustomPC.Models.PartsViewModels.Base.ColorlessPart
@{
    ViewData["Title"] = "Admin - " + ViewData["Part"] + " Details - " + Model.Model;
    Layout = "";
}
<head>
    <title>PC - @ViewData["Title"]</title>
</head>

<h1>@ViewData["Part"] Details</h1><br/>
<h2>@Model.Brand  @Model.Series  @Model.Model</h2>
<hr/>

<div class="container">
    @Html.DisplayForModel()
</div>
<br /><hr />

<h3>Images</h3>
<ul class="image-list">
    @foreach (var image in Model.Color.Images)
    {
        <li>
            <img src="@Url.Content(image.ImagePath)" />
        </li>
    }
</ul>
<hr/>
<a asp-action="@ViewData["Part"]s" asp-controller="Admin">Back to List</a>

<style>
    .container {
        position: relative;
        display: block;
        width: 40em;
    }
    .display-label {
        position: relative;
        display: inline-block;
        width: 8em;
        padding: 0.2em;
        margin: 0.1em;
        font-weight: bold;
        background: #ddd;
    }
    .display-field {
        position: relative;
        display: inline-block;
        padding: 0.3em;
        width: 30em;
    }

    a {
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    li {
        list-style: none;
    }
    .image-list {
        position: relative;
        display: inline-block;
        margin-bottom: 1em;
        width: 40em;
        vertical-align: top;
    }
    .image-list li {
        position: relative;
        display: inline-block;
        vertical-align: top;
    }
    .image-list li img {
        position: relative;
        display: block;
        height: 3em;
    }
</style>