@model List<PrecisionCustomPC.Models.PartsViewModels.Storage>
@{
    ViewData["Title"] = "Admin - Storage";
    ViewData["ReturnUrl"] = "Storage";
    Layout = "";
}
<head>
    <title>PC - @ViewData["Title"]</title>
</head>

<h1>Storage</h1>
<a asp-action="Index" asp-controller="Admin">Parts List</a>
<hr />

<a asp-action="PartAdd" asp-controller="Admin" asp-route-partType="Storage">Add new Storage</a>
<ul>
    @foreach (var item in Model)
    {
        <li>
            <div class="section labels">
                <label class="model">Model: </label>
                <label class="series">Series: </label>
                <label class="brand">Brand: </label>
            </div>
            <div class="section info">
                <label class="model">&nbsp;@item.Model</label>
                <label class="series">&nbsp;@item.Series</label>
                <label class="brand">&nbsp;@item.Brand</label>
            </div>
            <div class="section price">
                <label class="price">$@item.Price.00</label>
            </div>
            <div class="section links">
                <a asp-action="ColorlessPartDetails" asp-Controller="Admin" asp-route-partType="Storage" asp-route-id="@item.ID" asp-route-mdl="@item.Model">View Details</a>
                <a asp-action="ColorlessPartEdit" asp-Controller="Admin" asp-route-partType="Storage" asp-route-id="@item.ID" asp-route-mdl="@item.Model">Edit</a>
                <form asp-action="ColorlessPartDelete" asp-Controller="Admin" asp-route-partType="Storage" asp-route-id="@item.ID">
                    <input type="submit" value="Delete" class="delete" />
                </form>
            </div>
        </li>
    }
</ul>
<a asp-action="PartAdd" asp-controller="Admin" asp-route-partType="Storage">Add new Storage</a>

<style>
    li {
        position: relative;
        display: block;
        padding: 0.5em;
        width: 32em;
        font-family: sans-serif;
        background: #ddd;
        border: 1px solid #666;
    }

        li:hover {
            background: #eee;
        }

        li div.section {
            position: relative;
            display: inline-block;
        }

        li div.labels {
            width: 3em;
        }

        li div.info {
            width: 8em;
        }

        li div.price {
            width: 12em;
        }

        li div.links {
            width: 8em;
        }

        li label {
            position: relative;
            display: block;
            padding: 0.2em;
            color: #333;
            font-size: 0.8em;
        }

            li label.model {
                font-weight: bold;
            }

            li label.price {
                padding: 0;
                font-size: 2.0em;
                font-weight: bold;
                color: #1a1
            }

    a {
        position: relative;
        display: block;
    }

    li a {
        padding: 0.2em;
        font-size: 0.8em;
        text-decoration: none;
    }

        li a:hover {
            text-decoration: underline;
        }

    form {
        padding: 0;
        margin: 0;
    }

    .delete {
        position: relative;
        display: block;
        padding: 0.2em;
        font-size: 0.8em;
        color: blue;
        text-decoration: none;
        background: none;
        border: none;
    }

        .delete:hover {
            text-decoration: underline;
            cursor: pointer;
        }
</style>