@model PrecisionCustomPC.Models.PartsViewModels.Tower
@{
    ViewData["Title"] = "Admin - Tower Details - " + Model.Model;
    Layout = "";
}

<h1>Tower Details</h1><br/>
<h2>@Model.Brand  @Model.Series  @Model.Model</h2>
<hr/>

<div class="container">
    @Html.DisplayForModel()
</div>
<br/><hr/>

<h3>Colors</h3>
<ul>
    @foreach (var color in Model.Colors)
    {
        <li>
            <span class="color-box" style="background: @color.ColorHash"></span>
            <label class="label">@color.ColorHash</label>
        </li>
    }
</ul>
<hr/>

<h3>Images</h3>
<ul>
    @foreach (var color in Model.Colors)
    {
        <li>
            <div class="color-block">
                <span class="color-box" style="background: @color.ColorHash;"></span>
                <label class="label">@color.ColorHash</label>
            </div>
            <ul class="image-list">
                @foreach (var image in color.Images)
                {
                    <li>
                        <img src="@Url.Content(image.ImagePath)" />
                    </li>
                }
            </ul>
        </li>
    }
</ul>
<a asp-action="Towers" asp-controller="Admin">Back to List</a>

<style>
    .container {
        position: relative;
        display: block;
        width: 40em;
    }

    .display-label {
        position: relative;
        display: inline-block;
        width: 8em;
        padding: 0.2em;
        margin: 0.1em;
        font-weight: bold;
        background: #ddd;
    }

    .display-field {
        position: relative;
        display: inline-block;
        padding: 0.3em;
        width: 30em;
    }

    a {
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    li {
        list-style: none;
    }
    .color-block {
        position: relative;
        display: inline-block;
        vertical-align: top;
        height: 3em;
    }
    .color-box {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 2em;
        height: 1em;
        border: 1px solid #000;
    }
    .label {
        position: relative;
        display: inline-block;
        width: 4em;
    }
    .text {
        position: relative;
        display: inline-block;
        width: 13em;
    }
    .image-list {
        position: relative;
        display: inline-block;
        margin-bottom: 1em;
        width: 40em;
    }
    .image-list li {
        position: relative;
        display: inline-block;
        vertical-align: top;
    }
    .image-list li img {
        position: relative;
        display: block;
        height: 3em;
    }
    .image-list li:hover > img {
        top: -1em;
        height: 5em;
    }
</style>